/** Code By Webdevtrick ( https://webdevtrick.com ) **/
* {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid white;
}

@media screen and (max-width: 767px) {
    .scroll-icon {
        display: none;
    }
}

@media screen and (max-width: 400px) {
/*     html {
        font-size: 50%;
    } */
}