@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
}

h1 {
    font-weight: bold !important;
}

.row {
    height: 100%;
}

img {
    padding: 15px;
}

/* .section {
    height: 100%;
    width: 100%;
} */

.vertical-scrolling > div, .vertical-scrolling {
    height: 100% !important;
}

.fp-watermark {
    visibility: hidden;
}

@media screen and (max-width: 570px) {
    .center {
        max-height: auto;
        height: 50vh;
    }
}

.logo {
    width: 150px;
}

.tankobon {
    background: linear-gradient(90deg, rgb(82, 185, 185), rgb(82, 218, 171));
    color: #212529;
}

.tankobon .btn-primary,
.tankobon .btn-primary:hover,
.tankobon .btn-primary:active,
.tankobon .btn-primary:visited {
    background-color: #212529 !important;
    border-color: #212529 !important;
    color: white !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.tankobon ::selection {
    color: black !important;
    background-color: rgb(82, 218, 171) !important;
}

.kaboom {
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%);
    color: #171717;
}

.kaboom .btn-primary,
.kaboom .btn-primary:hover,
.kaboom .btn-primary:active,
.kaboom .btn-primary:visited {
    background-color: rgb(255, 95, 109) !important;
    border-color: rgb(255, 95, 109) !important;
    color: white !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.kaboom ::selection {
    color: rgb(255, 95, 109) !important;
    background-color: rgba(255, 195, 113, 1) !important;
}

.passguard {
    background-color: #23214b;
    color: white;
}

.passguard .btn-primary,
.passguard .btn-primary:hover,
.passguard .btn-primary:active,
.passguard .btn-primary:visited {
    background-color: white !important;
    border-color: white !important;
    color: #23214b !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.passguard ::selection {
    color: #23214b  !important;
    background-color: white !important;
}

.comicpeeps {
    background-color: #020202;
    color: #fc8e44;
}

.comicpeeps .btn-primary,
.comicpeeps .btn-primary:hover,
.comicpeeps .btn-primary:active,
.comicpeeps .btn-primary:visited {
    background-color: #fc8e44 !important;
    border-color: #fc8e44 !important;
    color: #020202 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.comicpeeps ::selection {
    color: #020202 !important;
    background-color: #fc8e44 !important;
}