::-moz-selection {
  color: #020202;
  background-color: #e6e6e6;
}

::selection {
  color: #020202;
  background-color: #e6e6e6;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  #content-desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #content-desktop {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  #content-desktop {
    display: none;
  }
}

