body {
    background: rgb(2, 2, 2);
    margin: 30px;
    font-family: 'Courier Prime', monospace;
}

p,
ul {
    margin-bottom: 0px;
}

ul {
    list-style-type: '::';
}

h3,
h5 {
    font-weight: bold;
}

a {
    color: rgb(2, 2, 2);
}

a:hover {
    color: rgb(2, 2, 2);
    text-decoration: none;
    cursor: pointer;
}

.no-style {
    all: unset;
}

.spacer {
    height: 30px;
    width: 100%;
}

.rect {
    padding: 20px;
    width: 100%;
}

.secondary-bg {
    background-color: #e6e6e6ff;
}

.stripes {
    background: repeating-linear-gradient(45deg,
            #e6e6e6ff,
            #e6e6e6ff 20px,
            #020202 20px,
            #020202 40px);
    height: 50px;
}

.profile-img {
    max-width: 50px;
}

.feature-project-img {
    width: 100%;
    height: 150px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.trakt-card {
    max-width: 100%;
}

@media only screen and (min-width: 575px) {

    /* For desktop: */
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 30px;
    }
}

::-moz-selection {
    color: #e6e6e6;
    background-color: #020202;
}

::selection {
    color: #e6e6e6;
    background-color: #020202;
}